.displayTodos{
    flex: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.todo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:repeat(3, 1fr);
    padding: 0.5rem;
    border-radius: 1rem;
    align-items: center;
    justify-items: center;
    border: 1px solid #f9f9f9;
    grid-template-areas: 'title dueDate priority complete update'
                        'description description description description toggleStatus'
                       'description description description description delete';
}
.title{
    grid-area: title;
}

.description{
    grid-area: description;
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 1rem;
    box-sizing: border-box;
}

.priority{
    grid-area: priority;
}

.dueDate{
    grid-area: dueDate;
}

.complete{
    grid-area: complete;
}

.update{
    grid-area: update;
    background-color: #535bf2;
    max-width: 70%;
    height: fit-content;

}

.delete{
    grid-area: delete;
    background-color: darkred;
    max-width: 70%;
    height: fit-content;

}

.toggleStatus{
    grid-area: toggleStatus;
    background-color: #213547;
    max-width: 70%;
    height: fit-content;
}

